{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Atom | {% if page_name %}{{ page_name }}{% else %} name {% endif %}</title>
    <link rel="shortcut icon" href="{% static 'library_app/img/favicon.ico' %}" />

    <link rel="stylesheet" href="{% static 'library_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'library_app/css/Chart.min.css' %}">
    <link rel="stylesheet" href="{% static 'library_app/css/style.css' %}">
</head>
<body>

    {% include 'library_app/parts/navbar.html' %}

    <div class="d-flex">
        <div class="options-menu open">
            {% include 'library_app/parts/sidebar.html' %}
        </div>

        <div class="content-block open">
            <div class="container">
                {% block content %}
                {% endblock content %}

                {% include 'library_app/parts/footer.html' %}
            </div>
        </div>
    </div>

    <script src="{% static 'library_app/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'library_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'library_app/js/bs-custom-file-input.min.js' %}"></script>
    <script src="{% static 'library_app/js/Chart.min.js' %}"></script>
    {% if request.path == '/' %}
        <script >
        $(document).ready(function() {
            // char
            let ticksStyle = {fontColor: '#495057', fontStyle: 'bold'};

            let mode = 'index', intersect = true, $salesChart = $('#sales-chart')

            let salesChart = new Chart($salesChart, {
                type: 'bar',
                data: {
                    labels: ['Earning details',],
                    datasets: [
                        {
                            backgroundColor: '#007bff',
                            borderColor: '#eeeeee',
                            data: ['{{price_sold}}',]
                        }, {
                            backgroundColor: '#ced4da',
                            borderColor: '#ced4da',
                            data: ['{{price_rent}}',]
                        }
                    ]
                },

                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        mode: mode,
                        intersect: intersect
                    },
                    hover: {
                        mode: mode,
                        intersect: intersect
                    },
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            // display: false,
                            gridLines: {
                                display: true,
                                lineWidth: '4px',
                                color: 'rgba(0, 0, 0, .2)',
                                zeroLineColor: '#eee'
                            },
                            ticks: $.extend({
                                beginAtZero: true,

                                // Include a dollar sign in the ticks
                                callback: function (value, index, values) {
                                    if (value >= 1000) {
                                        value /= 1000
                                        value += 'k'
                                    }
                                    return '$' + value
                                }
                            }, ticksStyle)
                        }],
                        xAxes: [{
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: ticksStyle
                        }]
                    }
                }
            });

            let pieChart = document.getElementById('visitors-chart').getContext('2d')

            let myPieChart = new Chart(pieChart, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: ['{{all_book_available_count}}', '{{all_book_sold_count}}', '{{all_book_rent_count}}'],
                        backgroundColor: ["#27c100", "#f3545d", "#fdaf4b"],
                        borderWidth: 10,

                    }],
                    labels: ['Available', 'Sold', 'Rented']
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        position: 'bottom',
                        labels: {
                            fontColor: '#000',
                            fontSize: 15,
                            usePointStyle: true,
                            padding: 20
                        }
                    },
                    pieceLabel: {
                        render: 'percentage',
                        fontColor: 'white',
                        fontSize: 14,
                    },


                }
            })
        })
        </script>
    {% endif %}
    <script src="{% static 'library_app/js/scripts.js' %}"></script>
</body>
</html>